body{
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
}



#contentHeader {
  font-family: 'Roboto Slab', serif;
}

#imageText {
  font-family: 'Roboto Slab', serif;
  font-weight: lighter;
}

#company-name {
  font-family: 'Roboto Slab', serif;
}

.subheader {
  font-family: 'Roboto', sans-serif;
}

#staffNames {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-transform: capitalize;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 2rem;
  padding-right: 0;
  background-color: white;
  /*border: 1px solid black;*/
}


#client {
  margin-right: 1rem;
}


.button {
  font-size: 1rem;
  height: auto;
  width: auto;
  background-color: rgb(13, 100, 181);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(18, 41, 142);
}

.staffImgs {
  width: 12rem;
  height: 15rem;
  border-radius: 50%;
}


@media only all and (max-width: 680px) {
    #company-name {
      font-size: 2rem;
    }
    .staffImgs {
      width: 10rem;
      height: 13rem;
    }
    .title-container {
      display: flex;
      justify-content: center;
    }
}
