
    <div class="row">
        <div class="large-12">
            <center><a id="home-action" ui-sref="home"><img src="./images/logo1.png" id="image-logo" alt="logo"></a></center>
            <center><h6><a id="home-action" ui-sref="home">Home</a></h6></center>
            <h4 id="important-tax-docs">
                Tax Resources
            </h4>
            <center>
                <div class="tax-resources">
                    <h5>
                        <a href="./pdf/w4.pdf" target="_blank">Download W-4</a>
                    </h5>
                    <h5>
                        <a href="./pdf/w9.pdf" target="_blank">Download W-9</a>
                    </h5>
                </div>
            </center>
        </div>
    </div>